/*Main CSS file:*/
@media all and (min-width: 800px) and (max-width: 1000px) {
  #lowerApp {
    z-index: 0;
    padding-top: 33.5%;
  }
  #upperApp {
    z-index: 0;
  }
  #links {
    display: flex;
    justify-content: space-around;
    margin: 0% 15% 0% 15%;
  }
  #mediaLinks {
    padding: 1rem;
  }
}
@media all and (max-width: 770px) {
  #lowerApp {
    z-index: 0;
    padding-top: 15%;
  }
  #upperApp {
    z-index: 0;
  }
  #links {
    display: flex;
    justify-content: space-around;
    margin: 0% 20% 0% 20%;
  }
  #mediaLinks {
    padding: 1rem;
  }
}

@media all and (min-width: 770px) and (max-width: 800px) {
  #lowerApp {
    z-index: 0;
    padding-top: 37%;
  }
  #upperApp {
    z-index: 0;
  }
  #links {
    display: flex;
    justify-content: space-around;
    margin: 0% 40% 0% 40%;
  }
  #mediaLinks {
    padding: 1rem;
  }
}
@media all and (min-width: 1000px) {
  #lowerApp {
    z-index: 0;
    padding-top: 37%;
  }
  #upperApp {
    z-index: 0;
  }
  #links {
    display: flex;
    justify-content: space-around;
    margin: 0% 45% 0% 45%;
  }
  #mediaLinks {
    padding: 1rem;
  }
}
