@media all and (max-width: 600px) {
  #bannerVideo {
    z-index: -1;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  #bannerNavBar {
    z-index: 1;
  }

  #bannerContent {
    display: flex;

    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  #bannerChannelName {
    color: #ffff;
    font-family: "Poppins", sans-serif;
    font-size: 9vw;
  }
  #bannerDiscription {
    color: #ffff;
    font-family: "Poppins", sans-serif;
  }
  #bannerText {
    margin-left: 5rem;
  }
}
@media all and (min-width: 1000px) {
  #bannerVideo {
    z-index: -1;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  #bannerNavBar {
    z-index: 1;
  }

  #bannerContent {
    display: flex;

    padding-top: 9rem;
  }
  #bannerChannelName {
    color: #ffff;
    font-family: "Poppins", sans-serif;
    font-size: 5vw;
  }
  #bannerDiscription {
    color: #ffff;
    font-family: "Poppins", sans-serif;
  }
  #bannerText {
    margin-left: 7rem;
  }
  .link {
    font-size: 5vw;
  }
}
@media all and (max-width: 550px) {
  #bannerVideo {
    z-index: -1;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  #bannerNavBar {
    z-index: 1;
  }

  #bannerContent {
    display: flex;

    padding-top: 1.5rem;
  }
  #bannerChannelName {
    color: #ffff;
    font-family: "Poppins", sans-serif;
    font-size: 5vw;
  }
  #bannerDiscription {
    color: #ffff;
    font-family: "Poppins", sans-serif;
  }
  #bannerText {
    margin-left: 3rem;
  }
  .link {
    font-size: 2vw;
  }
}
@media all and (max-width: 1000px) {
  #bannerVideo {
    z-index: -1;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  #bannerNavBar {
    z-index: 1;
  }

  #bannerContent {
    display: flex;
    padding-top: 3rem;
  }
  #bannerChannelName {
    color: #ffff;
    font-family: "Poppins", sans-serif;
    font-size: 5vw;
  }
  #bannerDiscription {
    color: #ffff;
    font-family: "Poppins", sans-serif;
  }
  #bannerText {
    margin-left: 3rem;
  }
  .link {
    font-size: 2vw;
  }
}
