/*Main CSS file:*/
@media all and (max-width: 1000px) {
  #lowerApp {
    z-index: 0;
    padding-top: 35%;
    padding-bottom: 15%;
  }
  #upperApp {
    z-index: 0;
  }
  #links {
    display: flex;
    justify-content: space-around;
    margin: 0% 15% 0% 15%;
  }
  #mediaLinks {
    padding: 1rem;
  }
}
@media all and (max-width: 770px) {
  #lowerApp {
    z-index: 0;
    padding-top: 30%;
    padding-bottom: 15%;
  }
  #upperApp {
    z-index: 0;
  }
  #links {
    display: flex;
    justify-content: space-around;
    margin: 0% 05% 0% 05%;
  }
  #mediaLinks {
    padding: 1rem;
  }
}

@media all and (max-width: 800px) {
  #lowerApp {
    z-index: 0;
    padding-top: 30%;
    padding-bottom: 15%;
  }
  #upperApp {
    z-index: 0;
  }
  #links {
    display: flex;
    justify-content: space-around;
    margin: 30% 0% 30% 0%;
  }
  #mediaLinks {
    padding: 1rem;
  }
}
@media all and (min-width: 1000px) {
  #lowerApp {
    z-index: 0;
    padding-top: 37%;
    padding-bottom: 15%;
  }
  #upperApp {
    z-index: 0;
  }
  #links {
    display: flex;
    justify-content: space-around;
    margin: 0% 40% 0% 40%;
  }
  #mediaLinks {
    padding: 1rem;
  }
}
